Django==5.1.1
djangorestframework==3.14.0
python-decouple==3.8
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
redis==5.0.1
django-redis==5.4.0
sentry-sdk==1.39.1
django-storages==1.14.2 